		body {
			background-color: rgb(207, 232, 249);
			margin: 0;
		}

		.sono-sono {
  			font-family: "Sono", monospace;
  			font-optical-sizing: auto;
  			font-weight: 300;
  			font-style: normal;
  			font-variation-settings:
    		"MONO" 1;
		}

		img {
			width: 100%;
		}

		h1 {
			font-family: sans-serif;
			font-size:50px;
		}

		h5 {
			font-family: monospace;
			font-weight: bold;
			font-size:15px;
			font-family: "Sono";
		}

		p {
			font-family: "Sono";
			font-size: 15px;
		}

		#secondtitle {
			letter-spacing: 5px;
			font-weight: bolder;
		}


		#question {
			color: cadetblue;
		}

		.italic_text {
			font-style: bold;
		}

		#follow {
			font-size: 15px;
			color: cadetblue;
			font-family: "Sono";
			text-align: center;
		}

		.container {
			background-color: aliceblue;
			max-width: 600px;
			margin: 0 auto;
			padding: 50px;
			position: relative;
		}

		#cloud {
    		display: block;
    		margin: 0 auto 0px auto;
    		position: relative;
    		animation: float 3s linear infinite;
		}

	@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}	

#followcontainer {
    text-align: center;
    position: relative;
    height: 50px;    
}	

#pinkbunny {
    position: absolute;
    bottom: 10px;
    width: 70px;
    left: 0;
    opacity: 0.7;
    animation: chase 6s linear infinite;
}

@keyframes chase {
    0%        { left: 0; transform: scaleX(-1); }       
    49.999%   { left: calc(100% - 70px); transform: scaleX(-1); } 
    50%       { left: calc(100% - 70px); transform: scaleX(1); }  
    99.999%   { left: 0; transform: scaleX(1); }            
    100%      { left: 0; transform: scaleX(-1); }           
}