body {
	margin:20px;
	display:flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(163, 188, 214);
}

.paperrip {
	width: 50%;
	z-index: -1;
	position: absolute;
	top: -5%;
	right: -10%;

}

.paperrip2 {
	width: 50%;
	z-index: -1;
	position: absolute;
	top: -5%;
	right: 60%;
	transform: scaleX(-1);

}

.silverstars {
	width: 250px;
	position: absolute;
	z-index: 1;
	top: 5%;
	right: 70%;
}

.silverstars2 {
	width: 250px;
	position: absolute;
	z-index: 1;
	top: 5%;
	right: 10%;
	transform: scaleX(-1)
}

.sono-sono {
  font-family: "Sono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "MONO" 1;
}

.monsieur-la-doulaise-regular {
  font-family: "Monsieur La Doulaise", cursive;
  font-weight: 400;
  font-style: normal;
}

h1 {
	font-family: "Sono";
	font-size: 100px;
	text-align: center;
	letter-spacing: -5px;
	line-height: 100px;
	margin-bottom: 60px;
}

h1:hover {
	color:rgb(58, 98, 149);
	font-family: "Helvetica";
	letter-spacing: -5px;
}

h4 {
	font-family: sans-serif;
	font-size: 25px;
}
#paragraph1 {
	background-color: aliceblue;
	font-family: "Sono";
	text-wrap: column;
	text-indent: 50px;
	padding: 50px;
	border-radius: 30px;
}

#paragraph2 {
	background-color: rgb(206, 231, 240);
	font-family: "Sono";
	text-wrap: column;
	text-indent: 50px;
	padding: 50px;
	border-radius: 30px;
	line-height: 25px;
}


p {
	font-size: 18px;
	padding:20px;
	width: 65ch;
}

.highlights {
	background-color: ghostwhite;
	font-style: oblique;
	font-weight: bold;
	color:darkslategray;
	text-transform: uppercase;
}

#blue {
	background-color: ghostwhite;
	width:300px;
	height: 300px;
	position: sticky;
	top:50px;
	left:50px;
	overflow:hidden;
	transform: rotate(45deg);
	opacity: 100%;
	z-index: 1;
	box-shadow: 20px 100px 50px black;
}

#red {
	background-color: lightcyan;
	width:300px;
	height: 300px;
	position: absolute;
	top:0px;
	left:150px;
	z-index:1;
	border-radius: 50%;
}


#dreamInput {
  width: 600px;              
  padding: 16px 20px;       
  font-size: 18px;        
  font-family: "Sono", monospace;
  border-radius: 14px;
  border: 2px solid #ccc;
  text-align: center;
}

form {
	text-align: center;
}
.form input[type="submit"] {
  font-family: "Sono", monospace;
  font-size: 18px;       
  padding: 12px 28px;   
  border-radius: 12px;  
  border: none;
  cursor: pointer;
  background: white;   
  color: black;
}
