body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; 
  background: linear-gradient(180deg,rgba(26, 11, 11, 1) 0%, rgba(9, 9, 121, 1) 33%, rgba(0, 111, 255, 1) 100%);
  height: 100vh;
  background-size: 200%;
  position: relative;
}

.sono-sono {
  font-family: "Sono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "MONO" 1;
}

#title {
    width: 400px;
    height: auto; 
    margin: 20px auto 30px auto;
}

.wishcontainer {
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.25);
    max-width: 420px;
    width: 90%;
    text-align: center;
    font-family: "sono";
    padding: 30px 15px;
}

form title h2 {
    font-weight: 600;
    margin-bottom: 10px;
    color: #2c3e50;
}


input, textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 14px 18px;
    margin: 0 0 15px 0;
    border-radius: 15px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
    font-family: "sono";
}

input:focus, textarea:focus {
    border-color: #7fbafe;
    box-shadow: 0 0 10px rgba(74,144,226,0.4);
}

textarea {
    height: 140px;
    resize: none;
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contact-left textarea{
    height: 150px;
    padding-top: 18px;
    border-radius: 20px;
}

.sendback {
    padding: 15px 30px;
    font-family: "sono";
    text-decoration: none;
    font-size: 16px;
    border-radius: 50px;
    border: 3px solid #ffffff;
    cursor: pointer;
    background: linear-gradient(135deg, #4a90e2, #50e3c2);
    color: white;
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    text-align: center;
    display: block;
}

.sendback:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  }


.stars {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: lightslategray;
    opacity: 0;
    animation: twinkle 2s infinite;
    box-shadow: 0 0 7px white;
}
@keyframes twinkle{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.stars:nth-child(1){
    top:10%;
    left:20%;
    animation-duration: 5s;
}

.starsb31 {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: lightslategray;
    opacity: 0;
    animation: twinkle 3s infinite;
    box-shadow: 0 0 7px white;
    top:40%;
    left:50%;
}

.starsb32 {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: lightslategray;
    opacity: 0;
    animation: twinkle 3s infinite;
    box-shadow: 0 0 7px white;
    top:30%;
    left:60%;
}

.starsb33 {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: lightslategray;
    opacity: 0;
    animation: twinkle 3s infinite;
    box-shadow: 0 0 7px white;
    top:10%;
    left:80%;
}

.starsb34 {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: lightslategray;
    opacity: 0;
    animation: twinkle 3s infinite;
    box-shadow: 0 0 7px white;
    top:20%;
    left:30%;
}

.starsb35 {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: lightslategray;
    opacity: 0;
    animation: twinkle 3s infinite;
    box-shadow: 0 0 7px white;
    top:70%;
    left:30%;
}

.starsb36 {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: lightslategray;
    opacity: 0;
    animation: twinkle 3s infinite;
    box-shadow: 0 0 7px white;
    top:85%;
    left:70%;
}

.starsb102 {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: lightslategray;
    opacity: 0;
    animation: twinkle 5s infinite;
    box-shadow: 0 0 7px white;
    top:90%;
    left:80%;
}

.starsb103 {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: lightslategray;
    opacity: 0;
    animation: twinkle 5s infinite;
    box-shadow: 0 0 7px white;
    top:67%;
    left:90%;
}

.starsb104 {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: lightslategray;
    opacity: 0;
    animation: twinkle 5s infinite;
    box-shadow: 0 0 7px white;
    top:85%;
    left:95%;
}

.starsb105 {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: lightslategray;
    opacity: 0;
    animation: twinkle 5s infinite;
    box-shadow: 0 0 7px white;
    top:40%;
    left:11%;
}

.starsb106 {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: lightslategray;
    opacity: 0;
    animation: twinkle 5s infinite;
    box-shadow: 0 0 7px white;
    top:80%;
    left:5%;
}

.starsb107 {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: lightslategray;
    opacity: 0;
    animation: twinkle 5s infinite;
    box-shadow: 0 0 7px white;
    top:45%;
    left:56%;
}

.starss1 {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: lightslategray;
    box-shadow: 0 0 3px white;
    top:60%;
    left:85%;
}

.starss2 {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: lightslategray;
    box-shadow: 0 0 3px white;
    top:40%;
    left:57%;
}

.starss3 {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: lightslategray;
    box-shadow: 0 0 3px white;
    top:13%;
    left:39%;
}

.starss4 {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: lightslategray;
    box-shadow: 0 0 3px white;
    top:68%;
    left:10%;
}

.starss5 {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: lightslategray;
    box-shadow: 0 0 3px white;
    top:63%;
    left:13%;
}

.starss6 {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: lightslategray;
    box-shadow: 0 0 3px white;
    top:86%;
    left:13%;
}

.starss7 {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: lightslategray;
    box-shadow: 0 0 3px white;
    top:88%;
    left:57%;
}

.starss8 {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: lightslategray;
    box-shadow: 0 0 3px white;
    top:90%;
    left:49%;
}

.starss9 {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: lightslategray;
    box-shadow: 0 0 3px white;
    top:5%;
    left:79%;
}

.starss10 {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: lightslategray;
    box-shadow: 0 0 3px white;
    top:6%;
    left:5%;
}

.starss11 {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: lightslategray;
    box-shadow: 0 0 3px white;
    top:25%;
    left:17%;
}

.starss12 {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: lightslategray;
    box-shadow: 0 0 3px white;
    top:27%;
    left:97%;
}